body {
  height: 100%;
  padding-top: 156px;
  background-color: #524237;
  background-image: -webkit-linear-gradient(rgba(109, 163, 173, 0.4), rgba(64, 48, 38, 0.90)), url('../images/weights.jpg');
  background-image: -o-linear-gradient(rgba(109, 163, 173, 0.4), rgba(64, 48, 38, 0.90)), url('../images/weights.jpg');
  background-image: linear-gradient(rgba(109, 163, 173, 0.4), rgba(64, 48, 38, 0.90)), url('../images/weights.jpg');
  background-size: auto, cover;
  background-repeat: repeat, repeat;
  background-attachment: scroll, scroll;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-shadow: rgba(0, 0, 0, 0.29) 0px 1px 0px;
}
h1 {
  width: 65%;
  margin: 10px 0px;
  font-size: 68px;
  line-height: 44px;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-shadow: none;
}
h3 {
  width: 100%;
  margin: 5px 0px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  background-image: -o-linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  background-image: linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  color: rgba(64, 48, 38, 0.89);
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  width: 100%;
  margin-bottom: 5px;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}
.button {
  display: block;
  width: 35%;
  height: 54px;
  padding: 4px 29px;
  float: left;
  border-radius: 4px;
  background-color: #77b2c9;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 16px;
  line-height: 42px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #2da1cf;
}
.button.signup {
  width: 100%;
  border-radius: 4px;
  font-family:'Open Sans', sans-serif;
  line-height: 42px;
  text-align: center;
}
.subtitle {
  margin-bottom: 41px;
  font-size: 20px;
  line-height: 28px;
  text-shadow: none;
}
.field {
  width: 65%;
  height: 54px;
  float: left;
  border: 0px solid black;
  border-radius: 4px;
  background-color: #ebe8e4;
  box-shadow: transparent 0px 0px 8px 0px inset;
  -webkit-transition: box-shadow 150ms ease;
  -o-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #262c46;
  font-size: 16px;
}
.field:focus {
  box-shadow: #77b2c9 0px 0px 0px 1px inset, #77b2c9 0px 0px 12px 1px;
  color: black;
}
.field.feild2 {
  width: 100%;
  border-radius: 4px;
}
.sign-up-form {
  margin-bottom: 111px;
}
.share-text {
  margin-bottom: 12px;
  color: rgba(241, 235, 247, 0.40);
  text-shadow: transparent 0px 1px 0px;
}
.social-widget {
  width: 100px;
  float: left;
  opacity: 0.81;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-widget:hover {
  opacity: 1;
}
.social-widget.full-opacity {
  opacity: 1;
}
.social-widget-wrapper {
  margin-bottom: 17px;
}
.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #2da1cf;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.spread-word {
  margin-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.63);
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}
.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}
.content-wrapper {
  display: inline-block;
  width: 60%;
}
.header-section {
  height: 100%;
  padding-top: 194px;
  padding-bottom: 194px;
  background-image: -webkit-linear-gradient(rgba(64, 48, 38, 0.4), rgba(64, 48, 38, 0.90)), url('../images/beach2,jpg');
  background-image: -o-linear-gradient(rgba(64, 48, 38, 0.4), rgba(64, 48, 38, 0.90)), url('../images/beach2,jpg');
  background-image: linear-gradient(rgba(64, 48, 38, 0.4), rgba(64, 48, 38, 0.90)), url('../images/beach2,jpg');
  background-size: auto, cover;
}
.footer-section {
  color: #7e7c87;
}
.copyright {
  color: rgba(255, 255, 255, 0.38);
}
.content-section {
  padding-top: 49px;
  padding-bottom: 49px;
  background-color: #ebe8e4;
  color: rgba(49, 43, 61, 0.89);
  text-shadow: none;
}
.logo-text {
  margin-bottom: 33px;
  font-family:'Lily Script One', sans-serif;
  font-size: 69px;
  line-height: 55px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}
.iphone-image {
  margin-top: -65px;
  margin-bottom: -124px;
}
.color-section {
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: #403026;
}
.image-column {
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  text-align: center;
}
.maincont {
  background-color: rgba(194, 190, 179, 0.59);
}
.exercisestats {
  width: 100%;
}
.exersicediv {
  border-radius: 4px;
  background-image: -webkit-linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  background-image: -o-linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  background-image: linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
}
.exercisecurrent {
  width: 65%;
  float: right;
}
.currentheading {
  text-shadow: none;
}
.dropdowndiv {
  width: 30%;
}
.advert {
  width: 50%;
}
.logoimage {
  border-radius: 4px;
}
.menucont {
  border-radius: 4px;
}
@media (max-width: 991px) {
  h2 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 40%;
  }
  .field {
    width: 60%;
  }
  .content-wrapper {
    width: 81%;
  }
  .exercisecurrent {
    width: 60%;
  }
  .addnewdropdown {
    width: auto;
    float: left;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 47px;
    text-align: center;
  }
  h2 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 40%;
  }
  .subtitle {
    text-shadow: none;
  }
  .field {
    width: 60%;
  }
  .sign-up-form {
    margin-bottom: 38px;
  }
  .share-text {
    color: rgba(241, 235, 247, 0.93);
  }
  .social-widget-wrapper {
    width: 202px;
    margin-right: auto;
    margin-bottom: 44px;
    margin-left: auto;
  }
  .content-wrapper {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
  .header-section {
    padding-top: 37px;
    padding-bottom: 37px;
  }
  .iphone-image {
    width: 190px;
    margin-top: 0px;
    margin-bottom: -40px;
  }
  .color-section {
    padding-top: 62px;
    padding-bottom: 34px;
  }
  .exercisecurrent {
    width: 100%;
  }
  .addnewdropdown {
    width: auto;
    float: left;
  }
  .dropdowndiv {
    width: 25%;
  }
}
@media (max-width: 479px) {
  body {
    background-attachment: scroll, fixed;
  }
  h2 {
    text-shadow: none;
  }
  h3 {
    text-shadow: none;
  }
  .button {
    width: 100%;
    border-radius: 7px;
  }
  .subtitle {
    text-shadow: none;
  }
  .field {
    width: 100%;
    border-radius: 7px;
  }
  .social-widget {
    width: 96px;
  }
  .social-widget-wrapper {
    display: block;
    width: 194px;
    margin-right: auto;
    margin-bottom: 21px;
    margin-left: auto;
  }
  .copyright {
    text-align: center;
  }
  .iphone-image {
    width: 167px;
    margin-bottom: -49px;
  }
  .color-section {
    padding-top: 75px;
  }
  .bodymain {
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .exercisecurrent {
    width: 100%;
  }
  .addnewdropdown {
    width: auto;
    float: left;
  }
  .dropdowndiv {
    width: 40%;
  }
}

