body {
  height: 100%;
  padding-top: 156px;
  background-color: #524237;
  background-image: url('../images/weights.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
  line-height: 20px;
  list-style-type: disc;
  text-shadow: rgba(0, 0, 0, 0.29) 0px 1px 0px;
}
h1 {
  width: 65%;
  margin: 10px 0px;
  font-size: 68px;
  line-height: 44px;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-shadow: none;
}
h3 {
  width: 100%;
  margin: 5px 0px;
  border-radius: 0px;
  background-image: -webkit-linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  background-image: linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  color: rgba(64, 48, 38, 0.89);
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}
h6 {
  margin: 10px 0px;
  border: 1px solid white;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  background-image: linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  color: black;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}
p {
  width: 100%;
  margin-bottom: 5px;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}
.button {
  display: block;
  width: 35%;
  height: 54px;
  margin-top: 0%;
  padding: 4px 29px;
  float: left;
  border-radius: 0px 3px 3px 0px;
  background-color: #77b2c9;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 16px;
  line-height: 42px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #2da1cf;
}
.button.signup {
  width: 100%;
  border-radius: 4px 4px 4px 3px;
  font-family:'Open Sans', sans-serif;
  line-height: 42px;
  text-align: center;
}
.button.exersizeupdate {
  width: 98%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  clear: none;
  border-radius: 3px;
  background-color: #77b2c9;
}
.button.exersizeupdate:hover {
  background-color: #25b8cc;
}
.button.exersizeupdate:focus {
  background-color: #25b8cc;
  font-weight: 700;
}
.button.exerciseinputbuttons {
  width: 15%;
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 1%;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 3px;
  background-color: #77b2c9;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.button.exerciseinputbuttons:hover {
  background-color: #25b8cc;
}
.button.exerciseinputbuttons:focus {
  background-color: #25b8cc;
  font-weight: 700;
}
.button.exerciseinputbuttons.editbutton {
  border-radius: 3px;
  text-align: center;
}
.button.exerciseinputbuttons.editbutton:hover {
  background-color: #25b8cc;
}
.button.exerciseinputbuttons.editbutton:focus {
  background-color: #25b8cc;
  font-weight: 700;
}
.button.addexercisetocurrentday {
  width: 100%;
  border-radius: 3px;
}
.button.backbutton {
  margin-top: 1%;
}
.button.addnewbutton {
  width: 20%;
  margin-top: 2%;
  margin-left: 40%;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 3px;
  font-size: 50px;
}
.button.addnewbutton.w--current {
  margin-left: 40%;
  padding-right: 0px;
  padding-left: 0px;
}
.subtitle {
  margin-bottom: 41px;
  font-size: 20px;
  line-height: 28px;
  text-shadow: none;
}
.field {
  width: 65%;
  height: 54px;
  float: left;
  border: 0px solid black;
  border-radius: 3px 0px 0px 3px;
  background-color: #ebe8e4;
  box-shadow: transparent 0px 0px 8px 0px inset;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #262c46;
  font-size: 16px;
}
.field:focus {
  box-shadow: #77b2c9 0px 0px 0px 1px inset, #77b2c9 0px 0px 12px 1px;
  color: black;
}
.field.feild2 {
  width: 100%;
  border-radius: 4px 4px 3px 3px;
}
.sign-up-form {
  margin-bottom: 111px;
}
.share-text {
  margin-bottom: 12px;
  color: rgba(241, 235, 247, 0.4);
  text-shadow: transparent 0px 1px 0px;
}
.social-widget {
  width: 100px;
  float: left;
  opacity: 0.81;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-widget:hover {
  opacity: 1;
}
.social-widget.full-opacity {
  opacity: 1;
}
.social-widget-wrapper {
  margin-bottom: 17px;
}
.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #2da1cf;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.spread-word {
  margin-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.63);
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}
.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}
.content-wrapper {
  display: inline-block;
  width: 60%;
}
.header-section {
  height: 100%;
  padding-top: 194px;
  padding-bottom: 194px;
  background-image: -webkit-linear-gradient(rgba(64, 48, 38, 0.4), rgba(64, 48, 38, 0.90)), url('../images/beach2,jpg');
  background-image: linear-gradient(rgba(64, 48, 38, 0.4), rgba(64, 48, 38, 0.90)), url('../images/beach2,jpg');
  background-size: auto, cover;
}
.footer-section {
  color: #7e7c87;
}
.copyright {
  color: rgba(255, 255, 255, 0.38);
}
.content-section {
  padding-top: 49px;
  padding-bottom: 49px;
  background-color: #ebe8e4;
  color: rgba(49, 43, 61, 0.89);
  text-shadow: none;
}
.logo-text {
  margin-bottom: 33px;
  font-family:'Lily Script One', sans-serif;
  font-size: 69px;
  line-height: 55px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}
.iphone-image {
  margin-top: -65px;
  margin-bottom: -124px;
}
.color-section {
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: #403026;
}
.image-column {
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  text-align: center;
}
.maincont {
  background-color: rgba(194, 190, 179, 0.59);
}
.exercisestats {
  width: 100%;
}
.exersicediv {
  border-radius: 4px 4px 3px;
  background-color: transparent;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.exercisecurrent {
  width: 65%;
  float: right;
}
.currentheading {
  text-shadow: none;
}
.dropdowndiv {
  width: 30%;
}
.advert {
  width: 50%;
}
.logoimage {
  margin-top: -10%;
  border-radius: 3px 3px 0px 0px;
}
.menucont {
  border-radius: 0px 0px 3px 3px;
}
.exerciseinfotable {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  background-image: -webkit-linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  background-image: linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
}
.exerciseinfotable.exerciseinfotabledata {
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.exercisedivname {
  width: 50%;
  float: left;
}
.exercisesetsdiv {
  width: 10%;
  float: left;
}
.exxerciserepsdiv {
  width: 15%;
  background-image: -webkit-linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
  background-image: linear-gradient(rgba(194, 190, 179, 0.59), rgba(194, 190, 179, 0.59));
}
.exerciserepsdiv {
  width: 10%;
  float: left;
}
.exerciseweightsdiv {
  width: 20%;
  float: left;
}
.exerciseupdatediv {
  width: 20%;
}
.exercisehistoryinnerdiv {
  width: 75%;
  float: left;
}
.exercisestatsdropdown {
  width: 100%;
  float: none;
}
.exercisedropdownstats {
  width: 100%;
}
.exerciserpediv {
  width: 10%;
  float: left;
}
.createdexercises {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 3px;
  background-color: transparent;
}
.containertoappendbuttonaction {
  width: 100%;
  margin-bottom: 1%;
  float: left;
  border-radius: 3px;
  background-color: #77b2c9;
  text-align: center;
}
.createtab {
  width: 50%;
  margin-top: 1%;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 3px 0px 0px 3px;
  background-color: rgba(194, 190, 179, 0.59);
  text-align: center;
}
.createtab.w--current {
  margin-bottom: 1%;
  background-color: #77b2c9;
}
.searchtab {
  width: 50%;
  margin-top: 1%;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 0px 3px 3px 0px;
  background-color: rgba(194, 190, 179, 0.59);
  text-align: center;
}
.searchtab.w--current {
  margin-bottom: 1%;
  background-color: #77b2c9;
}
.seachexerciseinput {
  width: 100%;
  float: none;
  clear: none;
}
.searchimage {
  height: 32px;
  float: none;
  clear: none;
}
.searchresultsdiv {
  width: 100%;
  float: left;
}
.recordstab {
  background-color: rgba(194, 190, 179, 0.59);
}
.recordstab.w--current {
  background-color: #77b2c9;
}
.notestab {
  background-color: rgba(194, 190, 179, 0.59);
}
.notestab.w--current {
  background-color: #77b2c9;
}
.edittab {
  border-top-right-radius: 3px;
  background-color: rgba(194, 190, 179, 0.59);
}
.edittab.w--current {
  background-color: #77b2c9;
}
.recordstabwindow {
  min-height: 75px;
  margin-bottom: 1%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(119, 178, 201, 0.49);
}
.notestabcontanter {
  min-height: 75px;
  margin-bottom: 1%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(119, 178, 201, 0.49);
}
.edittabcontent {
  min-height: 75px;
  margin-bottom: 1%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(119, 178, 201, 0.49);
}
.tabs {
  width: 100%;
  float: left;
}
@media (max-width: 991px) {
  body {
    background-attachment: fixed;
  }
  h2 {
    text-shadow: none;
  }
  h3 {
    text-shadow: none;
  }
  h5 {
    color: white;
    font-size: 16px;
  }
  h6 {
    color: black;
    font-size: 14px;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 40%;
  }
  .button.exersizeupdate {
    width: 45%;
    padding-left: 0px;
    float: left;
    background-color: #77b2c9;
  }
  .button.exersizeupdate:hover {
    background-color: #25b8cc;
  }
  .button.exersizeupdate:focus {
    padding-left: 0px;
    background-color: #25b8cc;
    font-weight: 700;
  }
  .button.exersizeupdate.w--current {
    background-color: #77b2c9;
  }
  .button.exerciseinputbuttons {
    width: 20%;
  }
  .button.exerciseinputbuttons:hover {
    background-color: #25b8cc;
  }
  .button.exerciseinputbuttons:focus {
    background-color: #25b8cc;
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
  }
  .button.exerciseinputbuttons.editbutton {
    width: 10%;
  }
  .button.exerciseinputbuttons.editbutton:hover {
    background-color: #25b8cc;
  }
  .button.exerciseinputbuttons.editbutton:focus {
    background-color: #25b8cc;
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
  }
  .field {
    width: 60%;
  }
  .content-wrapper {
    width: 81%;
  }
  .bodymain {
    border-style: none;
  }
  .exersicediv {
    background-color: transparent;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .exercisecurrent {
    width: 60%;
  }
  .addnewdropdown {
    width: auto;
    float: left;
  }
  .logoimage {
    margin-top: -20%;
  }
  .exerciseinfotable.exerciseinfotabledata {
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .exercisehistorydiv {
    width: 100%;
    height: auto;
    float: left;
  }
  .createdexercises {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: transparent;
  }
  .containertoappendbuttonaction {
    background-color: #77b2c9;
  }
  .createtab {
    width: 50%;
    border-radius: 3px 0px 0px 3px;
    background-color: rgba(194, 190, 179, 0.59);
  }
  .createtab.w--current {
    margin-bottom: 1%;
    background-color: #77b2c9;
    color: white;
  }
  .searchtab {
    border-radius: 0px 3px 3px 0px;
    background-color: rgba(194, 190, 179, 0.59);
  }
  .searchtab.w--current {
    width: 50%;
    margin-bottom: 1%;
    border-radius: 3px;
    background-color: #77b2c9;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 47px;
    background-attachment: fixed;
    text-align: center;
  }
  h2 {
    text-shadow: none;
  }
  h3 {
    text-shadow: none;
  }
  h6 {
    color: black;
    font-size: 14px;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 40%;
  }
  .button.exersizeupdate {
    width: 45%;
    padding-left: 0px;
    border-radius: 3px;
    background-color: #77b2c9;
  }
  .button.exersizeupdate:hover {
    width: 45%;
    background-color: #25b8cc;
  }
  .button.exersizeupdate:active {
    background-color: #77b2c9;
    font-family:'Open Sans', sans-serif;
    font-weight: 400;
  }
  .button.exersizeupdate:focus {
    width: 45%;
    background-color: #25b8cc;
    font-weight: 700;
  }
  .button.exersizeupdate.w--current {
    width: 45%;
  }
  .button.exerciseinputbuttons:hover {
    background-color: #25b8cc;
  }
  .button.exerciseinputbuttons:active {
    background-color: #77b2c9;
    font-weight: 400;
  }
  .button.exerciseinputbuttons:focus {
    background-color: #25b8cc;
    font-weight: 700;
  }
  .subtitle {
    text-shadow: none;
  }
  .field {
    width: 60%;
  }
  .sign-up-form {
    margin-bottom: 38px;
  }
  .share-text {
    color: rgba(241, 235, 247, 0.93);
  }
  .social-widget-wrapper {
    width: 202px;
    margin-right: auto;
    margin-bottom: 44px;
    margin-left: auto;
  }
  .content-wrapper {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
  .header-section {
    padding-top: 37px;
    padding-bottom: 37px;
  }
  .iphone-image {
    width: 190px;
    margin-top: 0px;
    margin-bottom: -40px;
  }
  .color-section {
    padding-top: 62px;
    padding-bottom: 34px;
  }
  .exersicediv {
    background-color: transparent;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .exercisecurrent {
    width: 100%;
  }
  .addnewdropdown {
    width: auto;
    float: left;
  }
  .dropdowndiv {
    width: 25%;
  }
  .logoimage {
    margin-top: -5%;
  }
  .exerciseinfotable.exerciseinfotabledata {
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .createdexercises {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
@media (max-width: 479px) {
  body {
    background-image: url('../images/weights.jpg'), none;
    background-size: cover, auto;
    background-repeat: repeat, repeat;
    background-attachment: fixed, fixed;
  }
  h2 {
    text-shadow: none;
  }
  h3 {
    text-shadow: none;
  }
  h5 {
    font-size: 14px;
    font-weight: 600;
  }
  h6 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;
    font-size: 14px;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 100%;
    border-radius: 7px;
  }
  .button.exersizeupdate {
    position: static;
    overflow-x: visible;
    overflow-y: visible;
    width: 98%;
    margin-right: auto;
    margin-bottom: 1%;
    margin-left: 1%;
    padding-left: 0px;
    float: left;
    clear: none;
    border-width: 0px;
    border-radius: 3px;
    background-color: #77b2c9;
  }
  .button.exersizeupdate:hover {
    width: 98%;
    margin-right: 1%;
    float: left;
    background-color: #25b8cc;
  }
  .button.exersizeupdate:active {
    background-color: #25b8cc;
    font-weight: 700;
  }
  .button.exersizeupdate:focus {
    width: 98%;
    background-color: #25b8cc;
    font-weight: 700;
  }
  .button.exersizeupdate.w--current {
    width: 100%;
  }
  .button.exerciseinputbuttons {
    width: 38%;
    border-width: 0px;
  }
  .button.exerciseinputbuttons:hover {
    background-color: #25b8cc;
  }
  .button.exerciseinputbuttons:active {
    font-weight: 700;
  }
  .button.exerciseinputbuttons:focus {
    background-color: #25b8cc;
    font-weight: 700;
  }
  .button.exerciseinputbuttons.editbutton {
    width: 20%;
  }
  .subtitle {
    text-shadow: none;
  }
  .field {
    width: 100%;
    border-radius: 7px;
  }
  .social-widget {
    width: 96px;
  }
  .social-widget-wrapper {
    display: block;
    width: 194px;
    margin-right: auto;
    margin-bottom: 21px;
    margin-left: auto;
  }
  .copyright {
    text-align: center;
  }
  .iphone-image {
    width: 167px;
    margin-bottom: -49px;
  }
  .color-section {
    padding-top: 75px;
  }
  .bodymain {
    border-style: none;
    background-image: url('../images/weights.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
  .exersicediv {
    background-color: transparent;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .exercisecurrent {
    width: 100%;
  }
  .addnewdropdown {
    width: auto;
    float: left;
  }
  .dropdowndiv {
    width: 40%;
  }
  .logoimage {
    margin-top: -10%;
  }
  .exerciseinfotable.exerciseinfotabledata {
    border-bottom: 2px none white;
    background-color: transparent;
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .exercisedivname {
    width: 50%;
  }
  .exercisesetsdiv {
    width: 10%;
  }
  .createdexercises {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: transparent;
  }
  .containertoappendbuttonaction {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #77b2c9;
  }
  .createtab {
    width: 100%;
    border-radius: 3px;
  }
  .searchtab {
    width: 100%;
    margin-bottom: 1%;
  }
  .searchtab.w--current {
    width: 100%;
    border-radius: 3px;
  }
  .createdropdown {
    width: 110%;
  }
}

