html
{
    background-image: url(../images/weights.jpg); 
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width:100%;
}

#page1{

	width:100%;
	/*border-color:purple;*/
	/*border-width:2px;*/
	/*border-style:solid;*/
}

.header{
	width:100%;
	background-color:white;
}

.header #logoImage{
	width:70%;
	display:block;
	margin: 0 auto;
}

.content{

	width:100%;
	float:left;
}

.footer{
	/*background-color:blue;*/
        width: 100%;
	text-align: center;
	float:left;
	font: 8px arial, sans-serif;
	color:white;
	/* height:12px; */
}

.adds{
	background-color:red;
	
	position: fixed;
    bottom: 0;
	width: 75%;position: fixed;left: 50%;margin: 0 0 0 -37.5%;
}

	
.createAccount{
    width: 100%;

}
#createHeadings{
    padding-left: 40%;
    float:left;
    width:35%;
   
}
#loginButton{
    text-align: center;
    float:left;
    width: 25%;
    margin-left: 37.5%;
    background-color: gray;
    border-radius: 50%;
}

#createButton{
    text-align: center;
    float:left;
    width: 25%;
    background-color: gray;
    border-radius: 50%;
}
#spacer{
    width:100%;
    /*background-color: yellowgreen;*/
    float:left;
}

#loginArea{
    float: left;
}
label{
    font-size: 6vw;
    color: #D26A44;
    text-shadow: 1px 1px 1px #954c04; 
    text-align: center;
    
}
input {
    border: 0;
    outline: 0;
    background: white;
    border-bottom: 2px solid black;
    width: 80%;
}
h1{
    font-size: 9vw;
    color: #D26A44;
    text-shadow: 1px 1px 1px #954c04;   
    
}
h2{
    font-size: 6vw;
    color: #D26A44;
    text-shadow: 1px 1px 1px #954c04;   
    padding-bottom:0;
}
h3{
    font-size: 5vw;
    color: #D26A44;
    text-shadow: 1px 1px 1px #954c04;    
}