html
{
    background-image: url(../images/weights.jpg); 
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width:100%;
}

#page1{

	width:100%;
	border-color:purple;
	border-width:2px;
	border-style:solid;
}

.header{
	width:100%;
	background-color:white;
}

.header #logoImage{
	width:70%;
	display:block;
	margin: 0 auto;
}

.content{
	background-color:yellow;
	width:100%;
	float:left;
}

.footer{
	background-color:blue;
	margin: 0px auto;
	text-align: center;
	float:bottom;
	font: 8px arial, sans-serif;
	color:white;
	/* height:12px; */
}

.adds{
	background-color:red;
	
	position: fixed;
    bottom: 0;
	width: 75%;position: fixed;left: 50%;margin: 0 0 0 -37.5%;
}

	
	
	
/* Circles and things  */

.arc-wrapper{
	position: relative;
	margin: 0px auto;
	font-family: 'Montserrat', serif;
	text-transform: uppercase;
	width: 20%;
	background: #999999;
	border-radius: 50%;

	content: 'S';
	margin-left:75%;

}

.arc-wrapper h3{

	position: absolute;
	font-size: 6vw;
	color: #D26A44;
	text-shadow: 1px 1px 1px #954c04;
	margin-left:-175%;
}

.arc-wrapper h2{

	position: absolute;
	font-size: 3vw;
	color: #D26A44;
	text-shadow: 1px 1px 1px #954c04;
	margin-left:-175%;
}


.arc-wrapper h1{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 8vw;
	text-decoration: underline;
	margin-top:5%;
	color: #fff;
	text-shadow: 1px 1px 1px #954c04;
}